.food {
    box-shadow: 5px 5px 15px rgb(236, 236, 236);
    margin: 25px;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
    transition: .3s;
}
.food:hover {
    box-shadow: 5px 5px 15px rgb(189, 189, 189);
}
.food img {
    width: 260px;
    margin-bottom: 15px;
}