.header-logo {
    width: 140px;
}
.signup-button {
    background: #ff0000c2;
    border-radius: 25px;
    outline: none;
    border: none;
    color: white;
    padding: 8px 25px;
}
.signup-button:hover {
    background: red;
}