.login-form {
    max-width: 400px;
    margin: 40px auto;
    text-align: center;
}
.login-logo {
    width: 230px;
    margin-bottom: 40px;
}
.login-form input {
    display: block;
    width: 100%;
    margin: 20px 0;
    padding: 8px;
    background: #e6e6e6;
    outline: none;
    border: none;
    border-radius: 5px;
}
.login-form button {
    display: block;
    width: 100%;
    margin: 20px 0;
    padding: 8px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #ff0000c2;
    color: white;
}
.login-form button:hover {
    background: #ff0000;
}
.login-form a {
    text-decoration: none;
    color: red;
}